@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  @apply m-0 p-0 box-border;

}

.size {
  @apply w-[95%] md:w-[90%] mx-auto;
}

.shadows {
  box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.202);
}

.Border1 {
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, 0.150);
}

.Border2 {
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.202);
}

.btn {
  @apply px-3 p-2 text-sm font-medium;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.write .ql-editor {
  font-size: 1.2rem !important;
  padding: 0 !important;
}

.ek {
  color: #FFFFFF;
}
.qh {
  background-color: rgba(255, 255, 255, 0.2);
}


.rd {
  color: rgba(255, 255, 255, 0.6);
}

.rc {
  letter-spacing: -0.009em;
}
.rb {
  line-height: 40px;
}
.ra {
  font-size: 28px;
}
.qz {
  font-weight: 300;
}
.cq {
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.nc {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}
.qy {
  letter-spacing: -0.003em;
}

.qx {
  line-height: 32px;
}
.qw {
  font-size: 21px;
}
.nc {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}
.fc {
  color: rgba(255, 255, 255, 0.95);
}
.b {
  font-weight: 400;
}